.recipe-img-card {
  min-height: 250px !important;
  max-height: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

.recipe-img-card img:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.2s ease-in-out;
}

.img-card img::before {
  height: 250px;
  width: 250px;
  color: transparent !important;
  content: "";
}

.img-card img::after {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  content: "Kein Bild";
}

.recipe-preview-img {
  min-height: 250px !important;
  max-height: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

.recipe-list-group-item {
  width: 100 .recipe-list-group-item !important;
}

.recipe-list-group-item:hover {
  cursor: pointer !important;
  background-color: #e6e6e6 !important;
}
