*{
    margin:0;
    padding:0;
}

.grid-image-cell {
    padding: 8px;
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center;
   
}

.grid-image-cell img{
    height: 150px;
    width:150px;
}

.grid-column-full {
    padding: 8px;
    height: 100px;
}

.grid-column {
    padding: 8px;
    height: 100px;
}

.grid-column-small{
    padding:8px;
    height: 100px;
}

