<div class="form-chip rounded-5 px-3 w-auto @AdditionalClasses">
    <div class="row">
        <div class="col-11">
            @Value
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">
            <i class="fa-solid fa-xmark chip-icon" @onclick="HandleClick"></i>
        </div>
    </div>
</div>
