<figure class="text-center mt-4">
    <blockquote class="blockquote p-0 m-0">
        <p>@Title</p>
    </blockquote>
    <figcaption class="blockquote p-0 m-0">
        <cite style="font-size: 1rem; color: lightgray;">@SubTitle</cite>
    </figcaption>
</figure>
