@import "../scss/colors.scss";

// form chip
.test {
  color: blue !important;
}

.form-chip {
  padding: 0.2rem;
  border: 1px solid $blue;
}

.chip-blue {
  border: 1px solid $blue;
}

.chip-icon {
  height: 1rem;
  width: 1rem;
}

.chip-icon:hover {
  cursor: pointer;
}

.form-chip-container {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
