@import "../scss/colors.scss";

$imgSize: 250px;

.recipe-img-card {
  min-height: $imgSize !important;
  max-height: $imgSize !important;
  min-width: $imgSize !important;
  max-width: $imgSize !important;
}

.recipe-img-card img:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.2s ease-in-out;
}

.img-card img::before {
  height: $imgSize;
  width: $imgSize;
  color: transparent !important;
  content: "";
}

.img-card img::after {
  height: $imgSize;
  width: $imgSize;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  content: "Kein Bild";
}

.recipe-preview-img {
  min-height: $imgSize !important;
  max-height: $imgSize !important;
  min-width: $imgSize !important;
  max-width: $imgSize !important;
}

.recipe-list-group-item {
  width: 100& !important;
}

.recipe-list-group-item:hover {
  cursor: pointer !important;
  background-color: $light-gray !important;
}
