@import "../scss/colors.scss";

$imgSize: 250px;

.recipe-img-card {
  min-height: $imgSize !important;
  max-height: $imgSize !important;
  min-width: $imgSize !important;
  max-width: $imgSize !important;
}

.recipe-img-card img:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.2s ease-in-out;
}

.recipe-preview-img {
  min-height: $imgSize !important;
  max-height: $imgSize !important;
  min-width: $imgSize !important;
  max-width: $imgSize !important;
}

.recipe-list-group-item {
  width: 100& !important;
}

.recipe-list-group-item:hover {
  cursor: pointer !important;
  background-color: $light-gray !important;
}
