<div class="form-chip rounded-5 @AdditionalClasses">
    <div class="d-flex flex-row gap-2 p-1">
        <div>
            @Amount
        </div>
        <div>
            @Unit
        </div>
        <div>
            @Name
        </div>
        <div>
            <i class="fa-solid fa-xmark chip-icon" @onclick="HandleDelete"></i>
        </div>
    </div>
</div>
