@page "/cookbook"
@inherits MvvmConponentBase<AddRecipePageViewModel>

<div id="cookbook-container" class="container container-fluid">
   
    <div class="container">
        <PageHeader Title="Kochbuch" SubTitle="Find dein Lieblingsrezept noch Heute." />
        <div class="row mt-2">
            <!-- recipe filter -->
        </div>
        <div class="row mt-2">
            <!-- recipe card container -->
        </div>
        <div class="row mt-2">
            <div class="col-md-6 d-flex justify-content-start">
                <label class="lead text-muted">Nicht das richtige Rezept dabei?</label>
            </div>
            <div class="col-md-6 d-flex d-flex justify-content-end">
                <a class="btn btn-outline-primary" href="/cookbook/recipes/add">Rezept einsenden</a>
            </div>
        </div>
    </div>

    @if (_vm.IsLoading)
    {
        <LoadingIndicator Label="Loading" />
    }

</div>

