@page "/cookbook"

<h3>CookBook</h3>

@if(_recipes == null)
{
    <p><em>Loading data...</em></p>
    <NavLink class="nav-link" href="/cookbook/addrecipe">Add new</NavLink>
}
else
{
    <p><em>@_recipes.Count Recipes loades from Api</em></p>
    <NavLink class="nav-link" href="/cookbook/addrecipe">Add new</NavLink>
}

