<div class="form-group">
    <input id="@Id"
           class="form-control px-3"
           type="text"
           value="@TextValue"
           placeholder="@Placeholder"
           @oninput="OnTextChanged" />
    <label id="@_errorFieldId"
           class="form-text text-muted errorMsg"></label>
</div>
